*{
    margin: 0;
    padding: 0;
}
.box-container{
    background-image: url(images/login.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
@media(max-width:991px){
    .box-container{
        height: 60vh;
    }
}
@media(max-width:768px){
    .box-container{
        height: 40vh;
    }
}
@media(max-width:450px){
    .box-container{
        height: 20vh;
    }
}